// Markup
$small-device-width: 800px;
$mid-device-width: 1100px;

// Colors
$dark-color: #292A2D;
$main-font-color: #D4D4D5;
$light-color: #8F8F91;
$accent-color: #BA2316;

// Fonts
$main-font: 'Montserrat', sans-serif;
$logo-font: 'Russo One', sans-serif;
$accent-font: 'Roboto', sans-serif;